@model List<MyPortfolıoUdemy.DAL.Entities.Portfolıo>

<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolyo</h3>
            <h1>Son Projelerime Göz Atabilirsiniz.</h1>

            <p class="lead">Merhabalar, Aşağıda iletmiş olduğum görsellerde öğrendiğim teknolojileri uygulayarak geliştirdiğim projelerimi görüntülemektesiniz.Daha fazla projelerimi görmek için Github da bulabilirsiniz.</p>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">
            @foreach (var item in Model)
            {
                <div class="masonry__brick" style="margin-left:30px; margin-top:15px;">

                    <div class="item-folio">



                        <div class="item-folio__thumb">
                            <a href="@item.ImagrUrl" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                <img src="@item.ImagrUrl"
                                     srcset="@item.ImagrUrl 1x, @item.ImagrUrl 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                @item.Title
                            </h3>
                            <p class="item-folio__cat">
                                @item.SubTtitle
                            </p>
                        </div>

                        <a target="_blank" href="@item.Url" class="item-folio__project-link" title="Github Linki">
                            <i class="im im-link"></i>
                        </a>

                        <div class="item-folio__caption">
                            <p>@item.Description</p>
                        </div>

                    </div> <!-- end item-folio -->

                </div> <!-- end masonry__brick -->
            }
        </div>
    </div> <!-- end masonry -->

</section>